In [24]:
import pandas as pd
import seaborn as sns

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [27]:
df_alunos = pd.read_csv('downloads/escolamais/escolamais_alunos.csv', sep=';',dtype=str)

In [28]:
df_gestao = pd.read_csv('downloads/escolamais/escolamais_gestao.csv', sep=';',dtype=str)

In [29]:
df_alunos.head()

,CD_RA,DATA_NASC,GENERO,NM_ESCOLA,CD_MEC,ANO,TURMA
0,0000434995885SP,04/08/1995,F,ORESTES ROSOLIA PROF,35044295,1,1° TERMO B NOITE 1° SEMESTRE
1,000034831839XSP,19/03/1982,F,DARIO MONTEIRO DE BRITO PROF,35902603,1,1° TERMO C NOITE 1° SEMESTRE
2,0000483193598 SP,23/09/1978,F,JAMIL ABRAHAO SAAD,35021775,1,1° TERMO A NOITE 1° SEMESTRE
3,0000400730315 SP,30/09/1975,F,GUILHERMINO MENDES DE ANDRADE MAJOR,35006531,9,9° TERMO A NOITE 1° SEMESTRE
4,0000413912772SP,22/10/1981,F,ODETE FERNANDES PINTO DA SILVA PROFA,35006178,1,1° TERMO A NOITE 1° SEMESTRE

In [30]:
df_alunos.shape

(1861790, 7)

In [31]:
df_gestao.head()

,NR_CPF,NOME,DATA_NASC,GENERO,NM_ESCOLA,CD_MEC,FUNCAO,NOME_DISCIPLINA,TURMA,EMAIL
0,00002249871,Rubens Ferreira De Almeida Junior,16/08/1955,M,JOSE CARLOS ANTUNES PROFESSOR,35008187,Professor,FISICA,1ª SERIE B MANHA ANUAL,rfalmeida@professor.educacao.sp.gov.br
1,00002249871,Rubens Ferreira De Almeida Junior,16/08/1955,M,JOSE CARLOS ANTUNES PROFESSOR,35008187,Professor,FISICA,1ª SERIE C MANHA ANUAL,rfalmeida@professor.educacao.sp.gov.br
2,00002249871,Rubens Ferreira De Almeida Junior,16/08/1955,M,JOSE CARLOS ANTUNES PROFESSOR,35008187,Professor,FISICA,1ª SERIE D MANHA ANUAL,rfalmeida@professor.educacao.sp.gov.br
3,00002249871,Rubens Ferreira De Almeida Junior,16/08/1955,M,JOSE CARLOS ANTUNES PROFESSOR,35008187,Professor,FISICA,1ª SERIE E NOITE ANUAL,rfalmeida@professor.educacao.sp.gov.br
4,00002249871,Rubens Ferreira De Almeida Junior,16/08/1955,M,JOSE CARLOS ANTUNES PROFESSOR,35008187,Professor,FISICA,1ª SERIE F NOITE ANUAL,rfalmeida@professor.educacao.sp.gov.br

In [32]:
df_gestao.dtypes

NR_CPF             object
NOME               object
DATA_NASC          object
GENERO             object
NM_ESCOLA          object
CD_MEC             object
FUNCAO             object
NOME_DISCIPLINA    object
TURMA              object
EMAIL              object
dtype: object

In [34]:
df_gestao.shape

(1066508, 10)

In [39]:
df_gestao.describe()

,NR_CPF,NOME,DATA_NASC,GENERO,NM_ESCOLA,CD_MEC,FUNCAO,NOME_DISCIPLINA,TURMA,EMAIL
count,1066508,1066508,1066508,1066497,1063244,1063244,1066508,1051818,1051818,1018148
unique,112003,110142,16185,2,4218,4239,6,34,516,106229
top,08609123880,Maria Aparecida Da Silva,05/08/1976,F,ANCHIETA PADRE,35048744,Professor,LINGUA ESTRANGEIRA INGLES,1ª SERIE A MANHA ANUAL,samuelfrias@professor.educacao.sp.gov.br
freq,255,271,409,690644,1551,1094,1051818,94177,66067,255