In [1]:
import pandas as pd

In [2]:
path = 'data/alunos_inativos_email_ativo.csv'

In [5]:
df = pd.read_csv(path, sep=';')

/Users/marcello/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,CD_ALUNO,NM_LOGIN,NM_ALUNO,NR_RA,NR_DIG_RA,SG_UF_RA,EMAIL_MS,ULTIMA_MATRICULA
0,17340042,00001000112445SP,THIAGO HENRIQUE LIMA ...,100011244,5,SP,00001000112445SP@aluno.educacao.sp.gov.br,2017.0
1,17340228,00001000113814SP,TAIS DOS SANTOS SILVA ...,100011381,4,SP,00001000113814SP@aluno.educacao.sp.gov.br,2016.0
2,17340275,00001000114193SP,DOUGLAS TORQUATO DE SOUZA ...,100011419,3,SP,00001000114193SP@aluno.educacao.sp.gov.br,2018.0
3,17340446,00001000115537SP,GABRIEL FERNANDES SILVA,100011553,7,SP,00001000115537SP@aluno.educacao.sp.gov.br,2016.0
4,17340544,00001000116256SP,LIZANDRA CRISTINA DA SILVA,100011625,6,SP,00001000116256SP@aluno.educacao.sp.gov.br,2016.0

In [7]:
df.shape

(1289553, 8)