In [4]:
import pandas as pd
import numpy as np

In [9]:
columns = np.arange(1,14)
df = pd.read_csv('data/003.csv', names=columns)

In [10]:
df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,802,ALBANIR DE LIMA ARRAIS,5.328239e+09,1,2020-04-28 00:00:00.0000000,1,2020-04-28 00:00:00.0000000,APROVADO_AUTOMATICAMENTE,NaN,1,0,0
1,2,940,ALBANEIDE DA CONCEICAO,3.157418e+10,1,2020-06-28 17:56:22.0000000,1,2020-04-15 00:00:00.0000000,APROVACAO_EXTERNA,1.196297e+10,1,1,1
2,3,1481,APARECIDA PAULA DE OLIVEIRA ATANAZIO,3.005935e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0
3,4,2178,APARECIDA JESUS DE ALMEIDA DOS SANTOS,2.131734e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0
4,5,4926,APARECIDA BEZERRA,3.777457e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0

In [11]:
df.count()

1     769373
2     769373
3     767471
4     766874
5     769373
6     685691
7     769373
8     696618
9     697551
10     59045
11    769373
12    769373
13    769373
dtype: int64

In [14]:
df.columns

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [19]:
print('CMSP: ',df[12].sum())

CMSP:  337495

In [20]:
print('FECHAMENTO: ',df[13].sum())

FECHAMENTO:  330746

In [54]:
df_new = df.rename(columns={df.columns[11]: 'CMSP',df.columns[12]: 'FECH'})

In [55]:
df_new.head()

,1,2,3,4,5,6,7,8,9,10,11,CMSP,FECH
0,1,802,ALBANIR DE LIMA ARRAIS,5.328239e+09,1,2020-04-28 00:00:00.0000000,1,2020-04-28 00:00:00.0000000,APROVADO_AUTOMATICAMENTE,NaN,1,0,0
1,2,940,ALBANEIDE DA CONCEICAO,3.157418e+10,1,2020-06-28 17:56:22.0000000,1,2020-04-15 00:00:00.0000000,APROVACAO_EXTERNA,1.196297e+10,1,1,1
2,3,1481,APARECIDA PAULA DE OLIVEIRA ATANAZIO,3.005935e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0
3,4,2178,APARECIDA JESUS DE ALMEIDA DOS SANTOS,2.131734e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0
4,5,4926,APARECIDA BEZERRA,3.777457e+10,1,2020-04-13 00:00:00.0000000,1,2020-04-14 00:00:00.0000000,APROVADO,NaN,1,0,0

In [57]:
df_new.query('CMSP == 1 & FECH == 1').count()

1       330746
2       330746
3       329973
4       329725
5       330746
6       306578
7       330746
8       306792
9       309772
10       19131
11      330746
CMSP    330746
FECH    330746
dtype: int64