In [6]:
import pandas as pd

In [7]:
path = 'data/20200608 - GovSP - Report Pagamentos - 2 (1).csv'
path2 = 'data/20200608 - GovSP - Report Arquivados (1).csv'
path3 = 'data/Merenda_em_Casa_2_Ordem_Pagamento_20200601 (1).xlsx'

In [8]:
df = pd.read_csv(path)

/Users/marcello/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
print(df.shape)
print(df.head())

(1354004, 5)
           cpf  cod_pagamento            data_pagamento  valor_pagamento  \
0  26834300864          44573  2020-04-07T17:41:56.000Z             55.0
1  36328612850          44575  2020-04-07T17:41:57.000Z             55.0
2   6815798895          44576  2020-04-07T17:41:57.000Z             55.0
3  26574824818          44578  2020-04-07T17:41:58.000Z             55.0
4   3058656173          44577  2020-04-07T17:41:58.000Z             55.0

  data_arquivamento_usuario
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

In [10]:
print('Não arquivados:', df['data_arquivamento_usuario'].isna().sum())
print('Arquivados:', df['data_arquivamento_usuario'].notna().sum())

Não arquivados: 1353894
Arquivados: 110

In [11]:
df.shape

(1354004, 5)

In [12]:
df_arquiv = df[df.data_arquivamento_usuario.notna()]

In [13]:
print(df_arquiv.shape)
df_arquiv.head()

(110, 5)

,cpf,cod_pagamento,data_pagamento,valor_pagamento,data_arquivamento_usuario
27,23082507808,44619,2020-04-07T17:42:39.000Z,55.0,2020-04-08T11:10:25.000Z
58,31637076886,44670,2020-04-07T17:43:20.000Z,55.0,2020-04-08T11:05:01.000Z
109,45102340824,44754,2020-04-07T17:44:18.000Z,55.0,2020-04-08T11:07:03.000Z
121,38766203848,44775,2020-04-07T17:44:29.000Z,55.0,2020-04-08T11:04:48.000Z
176,22795551829,44854,2020-04-07T17:45:23.000Z,55.0,2020-04-08T11:05:09.000Z

In [14]:
df_arquiv['cpf'].nunique()

79

In [15]:
df_arquiv_clean = df_arquiv[['cpf', 'data_arquivamento_usuario']].drop_duplicates()

In [16]:
print(df_arquiv_clean.shape)
print(df_arquiv_clean.head())

(79, 2)
             cpf data_arquivamento_usuario
27   23082507808  2020-04-08T11:10:25.000Z
58   31637076886  2020-04-08T11:05:01.000Z
109  45102340824  2020-04-08T11:07:03.000Z
121  38766203848  2020-04-08T11:04:48.000Z
176  22795551829  2020-04-08T11:05:09.000Z

In [17]:
df2 = pd.read_csv(path2)

In [18]:
print(df2.shape)
print(df2.head())

(134, 2)
           cpf  usuario_arquivado
0  37625421805               True
1  60605820953               True
2  35795428850               True
3  16889038878               True
4  33740345861               True

In [19]:
df3 = pd.merge(df2, df_arquiv_clean, on='cpf', how='inner')
df3

           cpf  usuario_arquivado data_arquivamento_usuario
0  38981870802               True  2020-04-30T18:16:52.000Z
1  29700395839               True  2020-04-30T18:16:54.000Z
2  38949099861               True  2020-04-30T18:16:53.000Z
3   1895399335               True  2020-04-16T20:53:38.000Z

In [20]:
df4 = pd.read_excel(path3)

In [21]:
print(df4.shape)
print(df4.head())

(192409, 4)
   CD_ALUNO                              NM_ALUNO  NUM_CPF_PESSOA  \
0  25687017  LUCAS HENRIQUE CAVALCANTE DOS SANTOS    4.449925e+10
1  25687017  LUCAS HENRIQUE CAVALCANTE DOS SANTOS    4.449925e+10
2  25687022          VERONICA CARLA DE SOUSA LIMA    3.943043e+10
3  25687336          EMILLY KAROLINE DANTAS SILVA    5.665133e+10
4  25687336          EMILLY KAROLINE DANTAS SILVA    5.665133e+10

                              NOM_PESSOA
0  ROSALIA PEREIRA CAVALCANTE DOS SANTOS
1  ROSALIA PEREIRA CAVALCANTE DOS SANTOS
2                 VANIA ROBERTA DE SOUSA
3           EMILLY KAROLINE DANTAS SILVA
4           EMILLY KAROLINE DANTAS SILVA

In [22]:
df4_distinct = df4.groupby(['NUM_CPF_PESSOA']).count()

In [23]:
df4_distinct.head()

                CD_ALUNO  NM_ALUNO  NOM_PESSOA
NUM_CPF_PESSOA
1418360.0              4         4           4
2915367.0              2         2           2
4575407.0              2         2           2
5847389.0              2         2           2
7049382.0              2         2           2