In [1]:
import pandas as pd

In [3]:
path = 'data/Saresp2018_Quest_Pais.csv'

In [6]:
df = pd.read_csv(path, sep=';')

In [7]:
df.head()

,CD_ALUNO,DT_NASCIMENTO,SEXO,TURMA,PERIODO,TEM_NEC,REDE,CD_DRE,NM_DRE,CD_MUN,...,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50
0,71052,1982-10,M,NaN,NaN,0,ESTADUAL,20313,ITARARE,380,...,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0
1,95138,1977-03,M,NaN,NaN,0,ESTADUAL,20909,MIRANTE DO PARANAPANEMA,470,...,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0
2,173324,1983-07,F,NaN,NaN,0,ESTADUAL,20510,SAO JOAQUIM DA BARRA,389,...,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
3,199609,1992-01,F,NaN,NaN,0,ESTADUAL,20313,ITARARE,365,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,246472,1978-08,F,NaN,NaN,0,ESTADUAL,10211,LESTE 3,100,...,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [8]:
df.shape

(408626, 65)

In [14]:
len(df['CD_ALUNO'].unique())

408626

In [15]:
df['Q19'].value_counts()

4.0    132978
2.0     76073
3.0     73290
7.0     44943
5.0     39954
1.0     34079
6.0      7281
Name: Q19, dtype: int64

In [16]:
df['Q20'].value_counts()

4.0    152159
3.0     77178
2.0     67781
5.0     49122
7.0     26460
1.0     25184
6.0     10714
Name: Q20, dtype: int64

In [19]:
df2 = pd.read_csv('data/pobr_cd_aluno.csv')

In [20]:
df2.head()

   cd_aluno
0  23014042
1  27171087
2  23739914
3  23791115
4  27834612

In [24]:
df2.shape

(557857, 1)

In [22]:
df3 = pd.merge(df2, df, left_on='cd_aluno', right_on='CD_ALUNO', how='inner')

In [23]:
df3.shape

(47667, 66)

In [26]:
print(47667/557857*100)

8.544662879555155