In [1]:
import pandas as pd

In [2]:
path = 'data/20200706 - GovSP - Report Pagamentos.csv'

In [3]:
df = pd.read_csv(path)

/Users/marcello/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,cpf,cod_pagamento,data_pagamento,valor_pagamento,data_arquivamento_usuario
0,37940655817,152731,2020-04-10T05:12:11.000Z,55.0,NaN
1,37566208837,152732,2020-04-10T05:12:12.000Z,55.0,NaN
2,24611555852,152733,2020-04-10T05:12:14.000Z,55.0,NaN
3,23250776831,152734,2020-04-10T05:12:35.000Z,55.0,NaN
4,36133401869,152735,2020-04-10T05:13:32.000Z,55.0,NaN

In [7]:
cond1 = df['cpf'] == 34094087893

In [8]:
df[cond1]

,cpf,cod_pagamento,data_pagamento,valor_pagamento,data_arquivamento_usuario
462396,34094087893,7321515,2020-07-02T21:52:47.000Z,55.0,NaN
462581,34094087893,7322041,2020-07-02T21:53:40.000Z,55.0,NaN
462645,34094087893,7322246,2020-07-02T21:54:01.000Z,55.0,NaN
462651,34094087893,7322250,2020-07-02T21:54:02.000Z,55.0,NaN
462828,34094087893,7322677,2020-07-02T21:54:44.000Z,55.0,NaN
462876,34094087893,7322821,2020-07-02T21:54:58.000Z,55.0,NaN